$primary_color: #00b7ff;
$default_border: 1px solid lightgrey;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  height: calc(100vh - 20px) ;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  height: 600px;
  width: 500px;
  background-color: rgb(240, 246, 250);
  border-radius: 10px;
  padding: 10px;
}

.header {
  padding: 15px;
  border-bottom: $default_border;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $primary_color;
  font-size: 19px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.user {
  color: #00b7ff;
  font-weight: 600;
}

.main {
  padding: 10px;
}

.register {

}

.menu {
  main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.users {
  border: $default_border;
  width: 100%;
  height: 400px;
}

.rooms {
  border: $default_border;
  width: 100%;
  height: 400px;
}

.new_room {
  border: $default_border;
  margin: 10px 0;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_room:hover {
  background-color: rgb(221, 239, 245);
  border: 2px solid lightgrey;
  cursor: pointer;
}

.members {
  border: $default_border;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}